<!DOCTYPE html>
<html xmlns:th="http://java.sun.com/xml/ns/j2ee" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ung dung quan ky sach</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
        <th:block th:replace="layout :: header"></th:block>
<div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    trang chu ung dung quan ly sach
                </a>
            </div>
        </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>